.primary, .ghost, .action-danger, .danger {
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 4px 2px;
    padding: 0 1.2rem;
    height: 36px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    font-size: .7rem;
    text-transform: uppercase;
    border: none;

    &:hover, &:focus {
        box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
        outline: none;
    }

    &:disabled {
        pointer-events: none;
        color: var(--disabled-text-color);
        background-color: var(--disabled-color);
    }
}

.primary {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.primary:hover, .primary:focus {
    background-color: var(--accent-active-color);
    color: var(--accent-active-text-color);
}

.ghost {
    background-color: transparent;
    color: var(--text-color);
}

.ghost:hover, .ghost:focus {
    background-color: transparent;
    color: var(--focus-text-color);
}

.action-danger {
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: .6rem;
    height: 24px;
    background-color: var(--danger-color);
    color: var(--danger-text-color);
}

.action-danger:hover, .action-danger:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    background-color: var(--danger-active-color);
    color: var(--danger-text-color);
}

.danger {
    background-color: var(--danger-color);
    color: var(--danger-text-color);
}

.danger:hover, .danger:focus {
    background-color: var(--danger-active-color);
    color: var(--danger-text-color);
}