body {
    .hide-comment-overlay {
        position: relative;

        .hide-comment-content-handler {
            position: absolute;
            background-color: #ffffff50;
            border: 2px solid #3E291D20;
            top: 50%;
            left: -40px;
            transform: translateY(-50%) translateX(10px) scale(.5);
            opacity: 0;
        }

        .hide-comment-overlay-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            background-color: var(--target-bg-color);
            opacity: 1;
            transform: none;
            transition: all .2s ease-in;

            .hide-comment-content-brief {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(0, 0, 0, .1);
                padding: .5rem 1rem;
                border-radius: 6px;
            }
        }

        &:hover {
            .hide-comment-content-handler {
                opacity: 1;
                transform: translateY(-50%) translateX(0) scale(1);
            }

            .hide-comment-overlay-content {
                opacity: 0.5;
                transform: scaleY(0);
            }
        }
    }
}