.hide-comment-blur {
    position: relative;
    color: #838279;
    opacity: .2;

    .hide-comment-content-default {
        position: absolute;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        border-radius: 6px;
        background: #ffffff00;
        backdrop-filter: blur(6px);
        box-shadow: inset 0 0 160px var(--target-bg-color), inset 0 20px 60px var(--target-bg-color);
        mix-blend-mode: lighten;
        z-index: 10;
        transition: all .2s ease-in;

        .hide-comment-content-handler {
            position: absolute;
            background-color: #ffffff50;
            border: 2px solid #3E291D20;
            top: 50%;
            left: -32px;
            transform: translateY(-50%) translateX(10px) scale(.5);
            opacity: 0;
        }
    }


    &:hover {
        color: unset;

        .hide-comment-content-handler {
            opacity: 1;
            transform: translateY(-50%) translateX(0) scale(1);
        }

        .hide-comment-content-default {
            backdrop-filter: none;
            box-shadow: none;
            mix-blend-mode: unset;
        }
    }
}
