@import "reset.css";
@import "fonts.css";
@import "typography.css";
@import "language-component.css";
@import "onoff.css";
@import "stat.css";
@import "radio.css";
@import "content.css";

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    max-width: 960px;
    margin: 2rem auto;
    padding: 0 32px;
    width: clamp(300px, 90vw, 960px);
}

h1 {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 200;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: .5rem 0 2rem 0;
}

.extension-stat {
    max-width: 600px;
    margin: 2rem auto;
}

h2 {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 200;
    font-size: clamp(1.2rem, 5vw, 2rem);
    margin: 1rem 0;

    .language-selector {
        margin-left: auto;
    }
}

summary {
    background-color: var(--input-color);
    font-weight: 500;
    font-size: .7rem;
    text-transform: uppercase;
    margin: 0;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 1.8rem;
    align-items: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

summary:hover {
    background-color: var(--input-hover-color);
}

details summary::-webkit-details-marker {
    display: none;
}

summary:before {
    content: '';
    border-width: .3rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--accent-color);
    position: absolute;
    top: 0.72rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .15rem center;
    transition: all .2s ease;
}

details {
    background-color: var(--target-bg-color);
    margin: 1rem 0;
    border-radius: 4px;
    display: flex;
    flex-flow: column wrap;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
        max-height: 0;
    }
    100% {
        opacity: 1;
        max-height: 20000px;
        transform: translateY(0);
    }
}

@keyframes close {
    0% {
        opacity: 1;
        max-height: 20000px;
        transform: translateY(0);
    }
    100% {
        max-height: 0;
        opacity: 0;
        transform: translateY(-2rem);
    }
}

details[open] summary ~ * {
    transform-origin: top center;
    max-height: 2000px;
    animation: open 0.2s;
}

details.closing summary ~ * {
    animation: close 0.2s;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details[open] {
    border: 1px solid var(--border-color);
    overflow: hidden;
}

details[open] summary {
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.hide-mode-example {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 3rem;
    color: #000;

    .hide-mode-item {
        display: block;
        margin: 2rem 0;

        p {
            line-height: 1.4;
            margin-bottom: .5rem;
        }

        .hide-mode-item-footer {
            font-size: .815rem; /* 13px */
            border-bottom: 1px solid #bfbeb6;
            padding: 1rem 0;
            display: flex;
            align-items: center;


            span {
                display: flex;
                align-items: center;
            }

            .user {
                font-weight: 600;
                color: #00439f;
            }

            .time {
                font-weight: 200;
                margin: 0 1rem;
            }

            .icons {
                i {
                    display: inline-flex;
                    width: 17px;
                    height: 17px;
                    padding: 0;
                    background-color: #bfbeb6;
                    border-radius: 2px;
                    margin-right: .6rem;
                }
            }

            .karma {
                margin-left: auto;

                b {
                    font-weight: 200;
                    border: 1px solid #bfbeb6;
                    width: 11px;
                    height: 11px;
                    padding: 0;
                    border-radius: 2px;
                    margin: 0.3rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 11px;
                    position: relative;

                    &:after {
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-55%);
                        font-size: 12px;
                    }
                }

                .karma-minus {
                    color: var(--karma-minus);

                    b {
                        border-color: var(--karma-minus);

                        &:after {
                            content: '-';
                        }
                    }
                }

                .karma-plus {
                    color: var(--karma-plus);

                    b {
                        border-color: var(--karma-plus);

                        &:after {
                            content: '+';
                        }
                    }
                }
            }
        }
    }
}
