:root {
    --page-color: #f4ede8;
    --accent-color: #81492d;
    --accent-text-color: #f8e5db;
    --text-color: #673821;
    --headers-color: #883912;
    --headers-text-color: #352720;
    --cell-color: #fdf3ee;
    --disabled-color: #ccc5c2;
    --input-color: #f4eae6;
    --input-hover-color: #f3ecec;
    --border-color: #93654f;
    --tag-color: #e3cabc;
    --tag-text-color: #3a3736;
    --cell-text-color: #883912;
    --target-bg-color: #edece0;

    --karma-minus: #d5082f;
    --karma-plus: #549f04;
}


body {
    font-family: system-ui;
    margin: 0;
    color: var(--text-color);
    background-color: var(--page-color);
    transition: all .2s ease-in-out;

    text-decoration-thickness: 2px;
    text-decoration-skip-ink: auto;
    text-underline-offset: 3px;
}

body.disabled {
    filter: grayscale(1);
    background-color: #eee;
}

a,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
    transition: all 0.1s linear;

    &:hover, &:focus {
        text-decoration: underline;
        color: var(--accent-color);
    }
}

h1 {
    font-weight: 200;
    font-size: 1.2rem;
    margin: .5rem 0;
}

h2 {
    font-weight: 200;
    font-size: 1.1rem;
    margin: .5rem 0;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--accent-color);
}

span.tag {
    font-size: .7rem;
    font-weight: 200;
    background-color: var(--tag-color);
    color: var(--tag-text-color);
    padding: 4px 6px;
    border-radius: 4px;
    margin-left: .5rem;
}